.about-container {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  h2 {
   font-size: 22px;
   font-weight: bold;
 }
}

.gallery {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  background-color: white;
  margin-top: 50px;
  img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }
}
// .about-banner {
//   height: 60vh;
//   background-size: cover;
//   background-position: center;
//   background-attachment: fixed;
// }
@media(max-width: 600px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
  .gallery {
    grid-template-columns: 1fr ;
    grid-gap: 8px;
    margin-top: 20px;
  }
   // .about-banner {
  //   height: 60vh;
  //   background-size: cover;
  //   background-position: center;
  //   background-attachment: initial;
  // }
}
