.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
}
.content-text {
  margin-top: 10px;
  h2 {
    font-weight: bold;
    font-size: 22px;
  }
  p {
    font-size: 14px;
    color: grey;
  }
}

.carousel-container {
  margin-top: 30px;
  img {
    width: 100%;
    object-fit: cover;
    height: 500px;
    border-radius: 8px;
  }
}


@media(max-width: 800px) {
  .content-container {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    img {
      height: 30vh;
    }
  }
  .content-text {
    font-size: 16px;
    p {
      margin-bottom: 0px;
      font-size: 14px;
    }
    h2 {
      font-size: 18px;
    }
  }

  .carousel-container {
  margin-top: 10px;
  img {

    height: 330px;
  }
}
}
