<div class="description-container">
  <img src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" alt="">
  <div class="description-text">
    <h2>Mision</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim excepturi, suscipit quisquam veniam nam, doloribus voluptate, dolorum quibusdam ab?</span>
      <span>Dolores iusto, sed ratione, porro natus eos libero quaerat doloribus cum aperiam nisi nemo iure quidem. Vitae qui culpa illo obcaecati maiores! Dicta ea minus laborum, nihil maxime praesentium possimus!</span>
    </p>
  </div>
</div>
<div class="description-container">
  <div class="description-text">
    <h2 class="mt-3">Visión</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim excepturi, suscipit quisquam veniam nam, doloribus voluptate, dolorum quibusdam ab?</span>
      <span>Doloribus, alias suscipit debitis aliquam at! Sint ullam molestias, nesciunt totam voluptas id quia odio cum. Cum voluptas ipsa earum tempora debitis cupiditate, optio doloribus, perferendis cumque, quasi esse minima.</span>
    </p>
  </div>
  <img src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" alt="">
</div>
