<div class="description-container">
  <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_1285/v1589393057/IMG_31381_vbgue5.jpg" alt="">
  <div class="description-text d-flex align-items-center justify-content-center text-center">
    <div>
      <h2>Mision</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim excepturi, suscipit quisquam veniam nam, doloribus voluptate, dolorum quibusdam ab?Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim</p>
      <h2>Vision</h2>
      <p>Dolores iusto, sed ratione, porro natus eos libero quaerat doloribus cum aperiam nisi nemo iure quidem. Vitae qui culpa illo obcaecati maiores! Dicta ea minus laborum, nihil maxime praesentium possimus!
      Dolores iusto, sed ratione, porro natus eos libero quaerat doloribus cum aperiam nisi nemo iure quidem.</p>
    </div>
  </div>
</div>
<div class="description-container">
  <div class="description-text d-flex align-items-center justify-content-center">
    <div>
      <h2 class="text-center">La Clínica</h2>
      <p><strong>El centro de ojos Argañaraz</strong>
        cuenta con planta baja y 2 pisos pensados para comodidad y plena satisfacción del paciente.
      La recepción y sala de espera se encuentran climatizadas y con una capacidad para 45 personas.</p>
      <p><strong>Ingreso:</strong> La clínica posee rampa de acceso, ascensor y baños para personas que cuenten con alguna discapacidad.</p>
      <p><strong>Consultorios:</strong> Contamos con un total de 6 consultorios con atención de 700 a 20 horas
      Se encuentra disponible una guardia pasiva las 24horas.</p>
      <p><strong>Sala de medicos:</strong>La zona de quirófanos cuenta con una sala de descanso para profesionales equipada con TV, café y minibar.</p>
    </div>
  </div>
  <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_1428/v1589393064/IMG_32771_g5efej.jpg" alt="clinica-recepción">
</div>
