<div class="social-wrapper">
  <div class="hovereffect">
    <img class="img-responsive" src="https://images.unsplash.com/photo-1494869042583-f6c911f04b4c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" alt="">
    <div class="overlay">
      <h2>Nuestras Redes</h2>
      <p>
        <%= link_to  '#' do %>
         <i class="fab fa-instagram"></i>
        <% end %> <br>
         <%= link_to  '#' do %>
         <i class="fab fa-facebook"></i>
        <% end %> <br>
        <%= link_to  '#' do %>
         <i class="fab fa-twitter"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>
