<div class="speciality-container">
 <img src="https://images.unsplash.com/photo-1565428766130-572ff8417638?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2529&q=80" alt="">
 <div class="speciality-content">
     <h2>Cataratas</h2>
     <p>Con el paso de los años u ocasionalmente por alguna enfermedad, el cristalino que es una lente ubicada detrás de la pupila, cuya función es enfocar nítidamente los objetos, comienza a perder transparencia y en consecuencia la calidad visual se ve afectada.</p>
     <h2>Ojo seco</h2>
     <p>Con el paso de los años u ocasionalmente por alguna enfermedad, el cristalino que es una lente ubicada detrás de la pupila, cuya función es enfocar nítidamente los objetos, comienza a perder transparencia y en consecuencia la calidad visual se ve afectada.</p>
     <h2>Córnea</h2>
     <p>Con el paso de los años u ocasionalmente por alguna enfermedad, el cristalino que es una lente ubicada detrás de la pupila, cuya función es enfocar nítidamente los objetos, comienza a perder transparencia y en consecuencia la calidad visual se ve afectada.</p>
     <h2>Retina</h2>
     <p>Con el paso de los años u ocasionalmente por alguna enfermedad, el cristalino que es una lente ubicada detrás de la pupila, cuya función es enfocar nítidamente los objetos, comienza a perder transparencia y en consecuencia la calidad visual se ve afectada.</p>
     <h2>Galucoma</h2>
     <p>Con el paso de los años u ocasionalmente por alguna enfermedad, el cristalino que es una lente ubicada detrás de la pupila, cuya función es enfocar nítidamente los objetos, comienza a perder transparencia y en consecuencia la calidad visual se ve afectada.</p>
 </div>

</div>
