<div class="speciality-container">
  <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_952/v1589393061/IMG_31791_2_izjeuq.jpg" alt="">
  <div class="speciality-content">
    <h2>Cirugías:</h2>
    <ul>
      <li>Catarata</li>
      <li>Glaucoma</li>
      <li>Estrabismo</li>
      <li>Retina</li>
      <li>Conjuntiva</li>
    </ul>
    <h2>Oculoplastia:</h2>
    <ul>
      <li>Vias lagrimales</li>
      <li>Plastica de párpado</li>
      <li> Orbita</li>
    </ul>
    <h2>Microcirugía:</h2>
    <ul>
      <li>Cirugía de cataratas sin puntos</li>
      <li>Cirugía de alta miopía</li>
      <li>Vias lagrimales por endoscopia</li>
      <li>Laser</li>
    </ul>
    <h2>Sala de estudios de alta complejidad:</h2>
    <ul>
      <li>Refracción computarizada</li>
      <li>Topografia Corneal</li>
      <li>Paquimetría</li>
      <li>Estudios de patologia de retina</li>
      <li>Angiografía digital</li>
      <li>O.C.T</li>
    </ul>
  </div>
</div>
