<%= render 'shared/navbar' %>
<div class="article-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_1285/v1589393057/IMG_31381_vbgue5.jpg);">
  <div>
    <h1>QUIENES SOMOS</h1>
  </div>
</div>
<div class="articles-title">
  <div class="main-wrapper">
    <h2>Por qué elegrinos?</h2>
  </div>
</div>
<div class="about-container">
  <h2>Misión</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloribus velit harum perferendis hic accusamus numquam, ab eligendi asperiores enim. Qui ullam cupiditate quia velit voluptates expedita eaque exercitationem doloribus!</p>
  <h2>Visión</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloribus velit harum perferendis hic accusamus numquam, ab eligendi asperiores enim. Qui ullam cupiditate quia velit voluptates expedita eaque exercitationem doloribus!</p>
  <h2>La Clínica</h2>
  <p><strong>El centro de ojos Argañaraz</strong>
  cuenta con planta baja y 2 pisos pensados para comodidad y plena satisfacción del paciente.La recepción y sala de espera se encuentran climatizadas y con una capacidad para 45 personas.</p>
  <p><strong>Ingreso:</strong> La clínica posee rampa de acceso, ascensor y baños para personas que cuenten con alguna discapacidad.</p>
  <p><strong>Consultorios:</strong> Contamos con un total de 6 consultorios con atención de 700 a 20 horas
  Se encuentra disponible una guardia pasiva las 24horas.</p>
  <p><strong>Sala de medicos:</strong>La zona de quirófanos cuenta con una sala de descanso para profesionales equipada con TV, café y minibar.</p>
  <div class="gallery">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_809/v1589393062/IMG_32671_uqtvjp.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_857/v1589393062/IMG_32821_kctmsx.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_809/v1589393063/IMG_32981_r7rblc.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_857/v1589393057/IMG_31381_vbgue5.jpg" alt="">
  </div>
</div>
<section id="equipo"></section>
<div class="articles-title">
  <div class="main-wrapper">
    <h2>Nuestro Equipo</h2>
  </div>
</div>
<div class="about-container mt-0">
  <div class="profesional-container">
    <div class="profesional-card">
      <img src="https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <h2>Dr. Jorge castro</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quidem saepe fugiat, sed similique, repudiandae dolore voluptate cupiditate obcaecati earum repellendus ratione error provident quae, facere nemo doloribus fugit veniam.</p>
    </div>
    <div class="profesional-card">
      <img src="https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <h2>Dr. Jorge castro</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quidem saepe fugiat, sed similique, repudiandae dolore voluptate cupiditate obcaecati earum repellendus ratione error provident quae, facere nemo doloribus fugit veniam.</p>
    </div>
    <div class="profesional-card">
      <img src="https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <h2>Dr. Jorge castro</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quidem saepe fugiat, sed similique, repudiandae dolore voluptate cupiditate obcaecati earum repellendus ratione error provident quae, facere nemo doloribus fugit veniam.</p>
    </div>
    <div class="profesional-card">
      <img src="https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <h2>Dr. Jorge castro</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quidem saepe fugiat, sed similique, repudiandae dolore voluptate cupiditate obcaecati earum repellendus ratione error provident quae, facere nemo doloribus fugit veniam.</p>
    </div>
  </div>
  <div class="p-5 text-center">
    <%= link_to 'Volver', root_path, class: 'btn-main'  %>
  </div>
</div>

