<%= render 'shared/navbar' %>
<div class="article-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div>
    <h1>ESPECIALIDADES</h1>
  </div>
</div>
<div class="articles-title">
  <div class="main-wrapper">
    <h2>Prácticas</h2>
  </div>
</div>
<div class="main-wrapper">
  <div class="content-container">
    <img src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" alt="">
    <div class="content-text">
      <h2>Cataratas</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim excepturi, suscipit quisquam veniam nam, doloribus voluptate, dolorum quibusdam ab?Dolores iusto, sed ratione, porro natus eos libero quaerat doloribus cum aperiam nisi nemo iure quidem. Vitae qui culpa illo obcaecati maiores! Dicta ea minus laborum, nihil maxime praesentium possimus!
      </p>
    </div>
  </div>
  <div class="content-container">
    <img src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" alt="">
    <div class="content-text">
      <h2>Glaucoma</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim excepturi, suscipit quisquam veniam nam, doloribus voluptate, dolorum quibusdam ab?Dolores iusto, sed ratione, porro natus eos libero quaerat doloribus cum aperiam nisi nemo iure quidem. Vitae qui culpa illo obcaecati maiores! Dicta ea minus laborum, nihil maxime praesentium possimus!
      </p>
    </div>
  </div>
  <div class="content-container">
    <img src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" alt="">
    <div class="content-text">
      <h2>Diabetes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim excepturi, suscipit quisquam veniam nam, doloribus voluptate, dolorum quibusdam ab?Dolores iusto, sed ratione, porro natus eos libero quaerat doloribus cum aperiam nisi nemo iure quidem. Vitae qui culpa illo obcaecati maiores! Dicta ea minus laborum, nihil maxime praesentium possimus!
      </p>
    </div>
  </div>
  <div class="content-container">
    <img src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" alt="">
    <div class="content-text">
      <h2>Glaucoma</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus quasi quo delectus quaerat! Repellat esse corporis animi, odio enim excepturi, suscipit quisquam veniam nam, doloribus voluptate, dolorum quibusdam ab?Dolores iusto, sed ratione, porro natus eos libero quaerat doloribus cum aperiam nisi nemo iure quidem. Vitae qui culpa illo obcaecati maiores! Dicta ea minus laborum, nihil maxime praesentium possimus!
      </p>
    </div>
  </div>
  <div class="p-5 text-center">
    <%= link_to 'Volver', root_path, class: 'btn-main'  %>
  </div>
</div>

