<%= render 'shared/navbar' %>
<div class="article-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517948430535-1e2469d314fe?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div>
    <h1>ESPECIALIDADES</h1>
  </div>
</div>
<div class="articles-title mb-0">
  <div class="main-wrapper">
    <h2>Prácticas</h2>
  </div>
</div>
<div class="main-wrapper">
  <div class="content-text">
    <h2>CIRUJIAS</h2>
    <p><strong>Quirófanos</strong> en la segunda planta de la clínica se encuentran dos quirófanos aislados totalmente con sus areas de limpieza de equipamiento y conexiones  directas a sala de post- operación  para la comodidad y privacidad del paciente. <br>
    Los quirófanos se encuentran equipados para cirugías:</p>
    <ul>
      <li>Catarata</li>
      <li>Glaucoma</li>
      <li>Estrabismo</li>
      <li>Retina</li>
      <li>Conjuntiva</li>
    </ul>
    <p><strong>Oculoplastia:</strong></p>
    <ul>
      <li>Vias lagrimales</li>
      <li>Plastica de párpado</li>
      <li> Orbita</li>
    </ul>

    <h2>MICROCIRUJIA</h2>
    <p>La clínica cuenta con equipo de avanzada y la infraestructura y equipamiento necesario para realizar:</p>
    <ul>
      <li>Cirugía de cataratas sin puntos</li>
      <li>Cirugía de alta miopía</li>
      <li>Vias lagrimales por endoscopia</li>
      <li>Laser</li>
    </ul>
    <p><strong>Sala de estudios de alta complejidad</strong>
    con equipamientos especializados en:</p>
    <ul>
      <li>Refracción computarizada</li>
      <li>Topografia Corneal</li>
      <li>Paquimetría</li>
      <li>Estudios de patologia de retina</li>
      <li>Angiografía digital</li>
      <li>O.C.T</li>
    </ul>
  </p>
  <div class="carousel-container">
    <%= render 'shared/carousel' %>
  </div>
</div>
<div class="p-5 text-center">
  <%= link_to 'Volver', root_path, class: 'btn-main'  %>
</div>
</div>

