<div class="main-banner" style="background-image: linear-gradient(104.87deg, rgba(0, 0, 0, 0.8) 28.4%, rgba(0, 0, 0, 0.1) 76.58%), url(https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1511/v1589135490/photo-1496817763416-2f4494189b95.jpg);">
  <div class="main-container">
    <div class="mb-3">
      <h1><strong>CENTRO DE OJOS</strong></h1>
      <h1><strong>ARGAÑARAZ</strong> SRL</h1>
    </div>
    <div class="main-button-container">
      <%= link_to 'NOVEDADES', '#', class: 'btn-main'  %>
      <%= link_to 'CONTACTO', '#', class: 'btn-main secondary' %>
    </div>
  </div>
</div>
<section id="description">
  <h2 class="main-title">Quienes somos</h2>
   <div class="main-wrapper">
   <%= render 'shared/description' %>
   </div>
</section>
