.footer {
  background: #F4F4F4;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.3);
  text-align: center;

  border-top: 2px solid lightgrey;
  padding: 0px 20px;
  padding-top: 10px;
}
.footer-links {
  display: flex;
  justify-content: center;
  a {
    color: rgba(0,0,0,0.3);
    text-decoration: none;
    font-size: 13px;
    padding: 8px;
  }
}

.footer-links a:hover {
  opacity: 1;
}

