.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 5px solid #0059AF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  p {
    font-size: 14px;
    margin-bottom: 0px;
    color: black;
  }
}

//main navbar
.navbar-home {
  justify-content: space-between;
  background: transparent;
  a {
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    &:hover {
      color: grey!important;
    }
  }
  .navbar-toggler {
    border-color: black !important;
    &:focus {
      outline: none !important;
    }
  }
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}



.navbar-home-logo {
  p {
    font-size: 14px;
    margin-bottom: 0px;
    color: white;
  }
}

//new navbar
.navbar-home-white {
 justify-content: space-between;
 background: white;
 border-bottom: 5px solid #0059AF;
 a {
    color: black;
    text-shadow: none;
  }
  .navbar-toggler {
    border-color: black !important;
    &:focus {
      outline: none !important;
    }
  }
}

.navbar-home-white-logo {
  p {
    font-size: 14px;
    margin-bottom: 0px;
    color: black;
  }
}





